.root {
  padding: 1rem;
  color: #444;
  background: #fff;
}

.button {
  color: #fff;
  background: hsl(205, 100%, 21%);
  padding: 0.5rem 0.25rem;
  border: none;
  border-radius: 5px;
  margin-right: 0.75rem;
  flex-grow: 1;
  flex-basis: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:last-child {
  margin-right: 0;
}

.iconContainer {
  padding: 0.25rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #1c9b5f;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: #1c9b5f;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.inputRow {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 0.25rem;
  background: #fff;
  margin-bottom: 1rem;
  border-radius: 0.125rem;
}

.inputForm {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 1rem;
  padding-left: 5px;
}

.footerControls {
  display: flex;
  padding: 1rem;
  //position: fixed;
  width: 100%;
  bottom: 0;
  background: #f6f6f6;
}

.forgotPassword {
  color: #1c9b5f;
}

.error {
  color: #db3b3b;
  text-align: center;
  font-weight: 500;
  opacity: 0;
}

.show {
  opacity: 1;
}
