.modalRoot {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5000;
}

.modalContent {
  max-width: 400px;
  background: #f6f6f6;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 1s ease, opacity 0.5s ease;
  /*overflow-y: scroll;*/
  max-height: calc(100vh - 3rem);
}

.buttonContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.validationMessage {
  text-align: center;
  padding: 0.5rem 0;
  color: red;
  display: none;
}

.showError {
  display: block;
}

.modalShow {
  animation: modalShow 0.35s forwards;
  animation-delay: 0s;
}

@keyframes modalShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  background: none;
  border: 1px solid #eee;
  color: #444;
  border-radius: 2px;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  width: 100px;
  text-align: center;
}

.button:last-child {
  margin-right: 0;
}

.activeButton {
  background: hsl(205, 100%, 21%);
  color: #fff;
  border: none;
}

.fontHeavy {
  font-weight: 500;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
}

.contentContainer {
  padding: 1rem;
}

.imgContainer {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #eee;
  object-fit: cover;
}

.loadingOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  border-radius: 50%;
}

.noRadius {
  border-radius: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
